<div class="result-option">
                                <h3 class="widgettitle"><span>VETERANS A 7 NIV 2 POULE E</span></h3>
            <div id="competition-ranking" class="menu-cat-panel-content">
                <div class="compet type-results type-competition">
                    <div class="content-tab">
                                                    <div class="tg-wrap">
                                <table class="ranking-tab">
                                    <tbody><tr>
                                        <th class="ranking-tab-header">Pl</th>
                                        <th class="ranking-tab-header long-column">Equipe</th>
                                        <th class="ranking-tab-header">Pts</th>
                                        <th class="ranking-tab-header">Jo</th>
                                        <th class="ranking-tab-header">G</th>
                                        <th class="ranking-tab-header">N</th>
                                        <th class="ranking-tab-header">P</th>
                                        <th class="ranking-tab-header">F</th>
                                        <th class="ranking-tab-header">BP</th>
                                        <th class="ranking-tab-header">BC</th>
                                        <th class="ranking-tab-header">P&#xE9;</th>
                                        <th class="ranking-tab-header">Dif</th>
                                    </tr>
                                                                            <tr>
                                            <td class="ranking-tab-content">1</td>
                                            <td class="ranking-tab-bold">TEMPLEMARS VEND 12</td>
                                            <td class="ranking-tab-bold">15</td>
                                            <td class="ranking-tab-content">5</td>
                                            <td class="ranking-tab-content">5</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">41</td>
                                            <td class="ranking-tab-content">14</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">27</td>
                                        </tr>
                                                                            <tr>
                                            <td class="ranking-tab-content">2</td>
                                            <td class="ranking-tab-bold">BERSEE AS 11</td>
                                            <td class="ranking-tab-bold">12</td>
                                            <td class="ranking-tab-content">5</td>
                                            <td class="ranking-tab-content">4</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">1</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">33</td>
                                            <td class="ranking-tab-content">19</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">14</td>
                                        </tr>
                                                                            <tr>
                                            <td class="ranking-tab-content">3</td>
                                            <td class="ranking-tab-bold">CAMPHIN PEVELE EC 12</td>
                                            <td class="ranking-tab-bold">6</td>
                                            <td class="ranking-tab-content">6</td>
                                            <td class="ranking-tab-content">2</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">4</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">24</td>
                                            <td class="ranking-tab-content">25</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">-1</td>
                                        </tr>
                                                                            <tr>
                                            <td class="ranking-tab-content">4</td>
                                            <td class="ranking-tab-bold">CAMPHIN CAREMBAULT 11</td>
                                            <td class="ranking-tab-bold">4</td>
                                            <td class="ranking-tab-content">4</td>
                                            <td class="ranking-tab-content">1</td>
                                            <td class="ranking-tab-content">1</td>
                                            <td class="ranking-tab-content">2</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">22</td>
                                            <td class="ranking-tab-content">29</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">-7</td>
                                        </tr>
                                                                            <tr>
                                            <td class="ranking-tab-content">5</td>
                                            <td class="ranking-tab-bold">LILLE LOUVIER 12</td>
                                            <td class="ranking-tab-bold">4</td>
                                            <td class="ranking-tab-content">5</td>
                                            <td class="ranking-tab-content">1</td>
                                            <td class="ranking-tab-content">1</td>
                                            <td class="ranking-tab-content">3</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">21</td>
                                            <td class="ranking-tab-content">36</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">-15</td>
                                        </tr>
                                                                            <tr>
                                            <td class="ranking-tab-content">6</td>
                                            <td class="ranking-tab-bold">OSTRICOURT JSC 11</td>
                                            <td class="ranking-tab-bold">3</td>
                                            <td class="ranking-tab-content">5</td>
                                            <td class="ranking-tab-content">1</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">4</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">18</td>
                                            <td class="ranking-tab-content">36</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">-18</td>
                                        </tr>
                                                                    </tbody></table>
                            </div>
                                            </div>
                </div>
            </div>
            </div>