<div class="result-option">
                                <h3 class="widgettitle"><span>SENIORS D5 POULE G</span></h3>
            <div id="competition-ranking" class="menu-cat-panel-content">
                <div class="compet type-results type-competition">
                    <div class="content-tab">
                                                    <div class="tg-wrap">
                                <table class="ranking-tab">
                                    <tbody><tr>
                                        <th class="ranking-tab-header">Pl</th>
                                        <th class="ranking-tab-header long-column">Equipe</th>
                                        <th class="ranking-tab-header">Pts</th>
                                        <th class="ranking-tab-header">Jo</th>
                                        <th class="ranking-tab-header">G</th>
                                        <th class="ranking-tab-header">N</th>
                                        <th class="ranking-tab-header">P</th>
                                        <th class="ranking-tab-header">F</th>
                                        <th class="ranking-tab-header">BP</th>
                                        <th class="ranking-tab-header">BC</th>
                                        <th class="ranking-tab-header">P&#xE9;</th>
                                        <th class="ranking-tab-header">Dif</th>
                                    </tr>
                                                                            <tr>
                                            <td class="ranking-tab-content">1</td>
                                            <td class="ranking-tab-bold">OSTRICOURT JSC </td>
                                            <td class="ranking-tab-bold">18</td>
                                            <td class="ranking-tab-content">6</td>
                                            <td class="ranking-tab-content">6</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">28</td>
                                            <td class="ranking-tab-content">3</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">25</td>
                                        </tr>
                                                                            <tr>
                                            <td class="ranking-tab-content">2</td>
                                            <td class="ranking-tab-bold">ROUBAIX COVILHA </td>
                                            <td class="ranking-tab-bold">18</td>
                                            <td class="ranking-tab-content">7</td>
                                            <td class="ranking-tab-content">6</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">1</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">23</td>
                                            <td class="ranking-tab-content">13</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">10</td>
                                        </tr>
                                                                            <tr>
                                            <td class="ranking-tab-content">3</td>
                                            <td class="ranking-tab-bold">GONDECOURT CS 2</td>
                                            <td class="ranking-tab-bold">15</td>
                                            <td class="ranking-tab-content">7</td>
                                            <td class="ranking-tab-content">5</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">2</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">24</td>
                                            <td class="ranking-tab-content">10</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">14</td>
                                        </tr>
                                                                            <tr>
                                            <td class="ranking-tab-content">4</td>
                                            <td class="ranking-tab-bold">WILLEMS AS </td>
                                            <td class="ranking-tab-bold">14</td>
                                            <td class="ranking-tab-content">8</td>
                                            <td class="ranking-tab-content">5</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">3</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">20</td>
                                            <td class="ranking-tab-content">13</td>
                                            <td class="ranking-tab-content">1</td>
                                            <td class="ranking-tab-content">7</td>
                                        </tr>
                                                                            <tr>
                                            <td class="ranking-tab-content">5</td>
                                            <td class="ranking-tab-bold">CAMPHIN PEVELE EC 2</td>
                                            <td class="ranking-tab-bold">13</td>
                                            <td class="ranking-tab-content">7</td>
                                            <td class="ranking-tab-content">4</td>
                                            <td class="ranking-tab-content">1</td>
                                            <td class="ranking-tab-content">2</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">14</td>
                                            <td class="ranking-tab-content">13</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">1</td>
                                        </tr>
                                                                            <tr>
                                            <td class="ranking-tab-content">6</td>
                                            <td class="ranking-tab-bold">ROUBAIX SJBTE 2</td>
                                            <td class="ranking-tab-bold">9</td>
                                            <td class="ranking-tab-content">7</td>
                                            <td class="ranking-tab-content">3</td>
                                            <td class="ranking-tab-content">1</td>
                                            <td class="ranking-tab-content">3</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">17</td>
                                            <td class="ranking-tab-content">14</td>
                                            <td class="ranking-tab-content">1</td>
                                            <td class="ranking-tab-content">3</td>
                                        </tr>
                                                                            <tr>
                                            <td class="ranking-tab-content">7</td>
                                            <td class="ranking-tab-bold">FRETIN US 2</td>
                                            <td class="ranking-tab-bold">6</td>
                                            <td class="ranking-tab-content">7</td>
                                            <td class="ranking-tab-content">2</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">5</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">11</td>
                                            <td class="ranking-tab-content">17</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">-6</td>
                                        </tr>
                                                                            <tr>
                                            <td class="ranking-tab-content">8</td>
                                            <td class="ranking-tab-bold">WASQUEHAL football 3</td>
                                            <td class="ranking-tab-bold">5</td>
                                            <td class="ranking-tab-content">6</td>
                                            <td class="ranking-tab-content">2</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">3</td>
                                            <td class="ranking-tab-content">1</td>
                                            <td class="ranking-tab-content">11</td>
                                            <td class="ranking-tab-content">14</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">-3</td>
                                        </tr>
                                                                            <tr>
                                            <td class="ranking-tab-content">9</td>
                                            <td class="ranking-tab-bold">HOUPLIN US 2</td>
                                            <td class="ranking-tab-bold">3</td>
                                            <td class="ranking-tab-content">7</td>
                                            <td class="ranking-tab-content">1</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">6</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">10</td>
                                            <td class="ranking-tab-content">27</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">-17</td>
                                        </tr>
                                                                            <tr>
                                            <td class="ranking-tab-content">10</td>
                                            <td class="ranking-tab-bold">MOUCHIN ENT </td>
                                            <td class="ranking-tab-bold">1</td>
                                            <td class="ranking-tab-content">6</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">1</td>
                                            <td class="ranking-tab-content">5</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">6</td>
                                            <td class="ranking-tab-content">29</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">-23</td>
                                        </tr>
                                                                            <tr>
                                            <td class="ranking-tab-content">11</td>
                                            <td class="ranking-tab-bold">FACHES THUMESNIL FC 2</td>
                                            <td class="ranking-tab-bold">0</td>
                                            <td class="ranking-tab-content">6</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">1</td>
                                            <td class="ranking-tab-content">5</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">6</td>
                                            <td class="ranking-tab-content">17</td>
                                            <td class="ranking-tab-content">1</td>
                                            <td class="ranking-tab-content">-11</td>
                                        </tr>
                                                                            <tr>
                                            <td class="ranking-tab-content">12</td>
                                            <td class="ranking-tab-bold">LILLE ANTILLAIS US 2</td>
                                            <td class="ranking-tab-bold">0</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">0</td>
                                        </tr>
                                                                    </tbody></table>
                            </div>
                                            </div>
                </div>
            </div>
            </div>