<div class="result-option">
                                <h3 class="widgettitle"><span>FEMININES A 11 D1 POULE B</span></h3>
            <div id="competition-ranking" class="menu-cat-panel-content">
                <div class="compet type-results type-competition">
                    <div class="content-tab">
                                                    <div class="tg-wrap">
                                <table class="ranking-tab">
                                    <tbody><tr>
                                        <th class="ranking-tab-header">Pl</th>
                                        <th class="ranking-tab-header long-column">Equipe</th>
                                        <th class="ranking-tab-header">Pts</th>
                                        <th class="ranking-tab-header">Jo</th>
                                        <th class="ranking-tab-header">G</th>
                                        <th class="ranking-tab-header">N</th>
                                        <th class="ranking-tab-header">P</th>
                                        <th class="ranking-tab-header">F</th>
                                        <th class="ranking-tab-header">BP</th>
                                        <th class="ranking-tab-header">BC</th>
                                        <th class="ranking-tab-header">P&#xE9;</th>
                                        <th class="ranking-tab-header">Dif</th>
                                    </tr>
                                                                            <tr>
                                            <td class="ranking-tab-content">1</td>
                                            <td class="ranking-tab-bold">VILLENEUVE D  ASCQ FF 2</td>
                                            <td class="ranking-tab-bold">19</td>
                                            <td class="ranking-tab-content">7</td>
                                            <td class="ranking-tab-content">6</td>
                                            <td class="ranking-tab-content">1</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">33</td>
                                            <td class="ranking-tab-content">4</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">29</td>
                                        </tr>
                                                                            <tr>
                                            <td class="ranking-tab-content">2</td>
                                            <td class="ranking-tab-bold">FRELINGHIEN ES </td>
                                            <td class="ranking-tab-bold">13</td>
                                            <td class="ranking-tab-content">5</td>
                                            <td class="ranking-tab-content">4</td>
                                            <td class="ranking-tab-content">1</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">25</td>
                                            <td class="ranking-tab-content">6</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">19</td>
                                        </tr>
                                                                            <tr>
                                            <td class="ranking-tab-content">3</td>
                                            <td class="ranking-tab-bold">LILLE VIEUX AS </td>
                                            <td class="ranking-tab-bold">10</td>
                                            <td class="ranking-tab-content">7</td>
                                            <td class="ranking-tab-content">3</td>
                                            <td class="ranking-tab-content">1</td>
                                            <td class="ranking-tab-content">3</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">15</td>
                                            <td class="ranking-tab-content">15</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">0</td>
                                        </tr>
                                                                            <tr>
                                            <td class="ranking-tab-content">4</td>
                                            <td class="ranking-tab-bold">LEERS OS 2</td>
                                            <td class="ranking-tab-bold">9</td>
                                            <td class="ranking-tab-content">5</td>
                                            <td class="ranking-tab-content">3</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">2</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">15</td>
                                            <td class="ranking-tab-content">13</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">2</td>
                                        </tr>
                                                                            <tr>
                                            <td class="ranking-tab-content">5</td>
                                            <td class="ranking-tab-bold">ARMENTIERE JA 2</td>
                                            <td class="ranking-tab-bold">9</td>
                                            <td class="ranking-tab-content">6</td>
                                            <td class="ranking-tab-content">3</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">3</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">11</td>
                                            <td class="ranking-tab-content">17</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">-6</td>
                                        </tr>
                                                                            <tr>
                                            <td class="ranking-tab-content">6</td>
                                            <td class="ranking-tab-bold">GONDECOURT CS </td>
                                            <td class="ranking-tab-bold">6</td>
                                            <td class="ranking-tab-content">5</td>
                                            <td class="ranking-tab-content">2</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">3</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">7</td>
                                            <td class="ranking-tab-content">7</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">0</td>
                                        </tr>
                                                                            <tr>
                                            <td class="ranking-tab-content">7</td>
                                            <td class="ranking-tab-bold">GENECH ES </td>
                                            <td class="ranking-tab-bold">6</td>
                                            <td class="ranking-tab-content">6</td>
                                            <td class="ranking-tab-content">2</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">4</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">4</td>
                                            <td class="ranking-tab-content">12</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">-8</td>
                                        </tr>
                                                                            <tr>
                                            <td class="ranking-tab-content">8</td>
                                            <td class="ranking-tab-bold">LAMBERSART IC </td>
                                            <td class="ranking-tab-bold">6</td>
                                            <td class="ranking-tab-content">6</td>
                                            <td class="ranking-tab-content">2</td>
                                            <td class="ranking-tab-content">1</td>
                                            <td class="ranking-tab-content">2</td>
                                            <td class="ranking-tab-content">1</td>
                                            <td class="ranking-tab-content">6</td>
                                            <td class="ranking-tab-content">16</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">-10</td>
                                        </tr>
                                                                            <tr>
                                            <td class="ranking-tab-content">9</td>
                                            <td class="ranking-tab-bold">TOURCOING US FC </td>
                                            <td class="ranking-tab-bold">4</td>
                                            <td class="ranking-tab-content">5</td>
                                            <td class="ranking-tab-content">1</td>
                                            <td class="ranking-tab-content">1</td>
                                            <td class="ranking-tab-content">3</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">9</td>
                                            <td class="ranking-tab-content">15</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">-6</td>
                                        </tr>
                                                                            <tr>
                                            <td class="ranking-tab-content">10</td>
                                            <td class="ranking-tab-bold">CAMPHIN PEVELE EC </td>
                                            <td class="ranking-tab-bold">0</td>
                                            <td class="ranking-tab-content">6</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">1</td>
                                            <td class="ranking-tab-content">4</td>
                                            <td class="ranking-tab-content">1</td>
                                            <td class="ranking-tab-content">7</td>
                                            <td class="ranking-tab-content">27</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">-20</td>
                                        </tr>
                                                                    </tbody></table>
                            </div>
                                            </div>
                </div>
            </div>
            </div>