<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 resultats">
      <p align="center"> Resultats </p>
      <app-resultats></app-resultats>
    </div>
    <div class="col-lg-4 agenda">
      <p align="center"> Agenda </p>
      <app-agenda></app-agenda>
    </div>
    
    <div class="col-lg-4">
      <div class="row">
      	<p align="center"> Classements </p>
        <div class="col-lg-12 classement">
          TODO CLASSEMENT
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 sponsor">
          <div class="row">
            <div class="col-lg-6">
              <img src="assets/logo/nordnet.jpg"/>
            </div>
            <div class="col-lg-6">
              <img src="assets/logo/nordnet.jpg"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

