<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 agenda">
      <app-agenda></app-agenda>
    </div>
    <div class="col-lg-4 resultats">
      <app-resultats></app-resultats>
    </div>
    <div class="col-lg-4">
      <div class="row">
        <div class="col-lg-12 classement">
          TODO CLASSEMENT
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 sponsor">
          TODO SPONSORS
        </div>
      </div>
    </div>
  </div>
</div>

