<div class="result-option">
                                <h3 class="widgettitle"><span>U 17 D2 POULE D</span></h3>
            <div id="competition-ranking" class="menu-cat-panel-content">
                <div class="compet type-results type-competition">
                    <div class="content-tab">
                                                    <div class="tg-wrap">
                                <table class="ranking-tab">
                                    <tbody><tr>
                                        <th class="ranking-tab-header">Pl</th>
                                        <th class="ranking-tab-header long-column">Equipe</th>
                                        <th class="ranking-tab-header">Pts</th>
                                        <th class="ranking-tab-header">Jo</th>
                                        <th class="ranking-tab-header">G</th>
                                        <th class="ranking-tab-header">N</th>
                                        <th class="ranking-tab-header">P</th>
                                        <th class="ranking-tab-header">F</th>
                                        <th class="ranking-tab-header">BP</th>
                                        <th class="ranking-tab-header">BC</th>
                                        <th class="ranking-tab-header">P&#xE9;</th>
                                        <th class="ranking-tab-header">Dif</th>
                                    </tr>
                                                                            <tr>
                                            <td class="ranking-tab-content">1</td>
                                            <td class="ranking-tab-bold">MOUCHIN NOMAIN ENT </td>
                                            <td class="ranking-tab-bold">12</td>
                                            <td class="ranking-tab-content">4</td>
                                            <td class="ranking-tab-content">4</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">16</td>
                                            <td class="ranking-tab-content">5</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">11</td>
                                        </tr>
                                                                            <tr>
                                            <td class="ranking-tab-content">2</td>
                                            <td class="ranking-tab-bold">ANNOEULLIN FC </td>
                                            <td class="ranking-tab-bold">9</td>
                                            <td class="ranking-tab-content">5</td>
                                            <td class="ranking-tab-content">3</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">2</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">9</td>
                                            <td class="ranking-tab-content">5</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">4</td>
                                        </tr>
                                                                            <tr>
                                            <td class="ranking-tab-content">3</td>
                                            <td class="ranking-tab-bold">CAMPHIN EN PEVELE </td>
                                            <td class="ranking-tab-bold">6</td>
                                            <td class="ranking-tab-content">4</td>
                                            <td class="ranking-tab-content">2</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">2</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">7</td>
                                            <td class="ranking-tab-content">9</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">-2</td>
                                        </tr>
                                                                            <tr>
                                            <td class="ranking-tab-content">4</td>
                                            <td class="ranking-tab-bold">ASCQ US 2</td>
                                            <td class="ranking-tab-bold">3</td>
                                            <td class="ranking-tab-content">3</td>
                                            <td class="ranking-tab-content">1</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">2</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">5</td>
                                            <td class="ranking-tab-content">11</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">-6</td>
                                        </tr>
                                                                            <tr>
                                            <td class="ranking-tab-content">5</td>
                                            <td class="ranking-tab-bold">CAPPELLE ES </td>
                                            <td class="ranking-tab-bold">0</td>
                                            <td class="ranking-tab-content">4</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">4</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">3</td>
                                            <td class="ranking-tab-content">10</td>
                                            <td class="ranking-tab-content">0</td>
                                            <td class="ranking-tab-content">-7</td>
                                        </tr>
                                                                    </tbody></table>
                            </div>
                                            </div>
                </div>
            </div>
            </div>