<div id="agenda" class="result-option"><div class="results-content"><h3 class="widgettitle"><span>AGENDA : 
                Semaine du 27 novembre 2017                au 03 d&#xE9;cembre 2017            </span></h3><div class="result-display">
                                                    <div class="confrontation">
                                <a href="/competitions/?competition_id=344460&amp;poule=1&amp;match_id=19904790&amp;type=&amp;label=">
    <div class="date">
                    <span class="competition">U 17 D2<br>POULE D</span>
            <br>
                dimanche 03 d&#xE9;cembre 2017 - 10H30            </div>
    <div class="detail">
        <div class="equipe1">
                            <div class="logo">
                    <img src="https://www.fff.fr/common/bib_img/logo/512599.jpg" width="40" height="40">
                </div>
                <div class="name ">
                    MOUCHIN NOMAIN ENT                 </div>
                <div class="forfeit">
                                    </div>
                    </div>
        <div class="score_match">
             -             <div class="score_match_penalty">
                                            </div>
        </div>
        <div class="equipe2">
                            <div class="name ">
                    CAMPHIN EN PEVELE                 </div>
                <div class="logo">
                    <img src="https://www.fff.fr/common/bib_img/logo/525816.jpg" width="40" height="40">
                </div>
                <div class="forfeit">
                                    </div>
                    </div>
    </div>
</a>                            </div>
                                                    <div class="confrontation">
                                <a href="/competitions/?competition_id=343737&amp;poule=1&amp;match_id=19662034&amp;type=&amp;label=">
    <div class="date">
                    <span class="competition">U13 NIVEAU 2 FOOT EDUCATIF<br>POULE G</span>
            <br>
                samedi 02 d&#xE9;cembre 2017 - 14H00            </div>
    <div class="detail">
        <div class="equipe1">
                            <div class="logo">
                    <img src="https://www.fff.fr/common/bib_img/logo/552020.jpg" width="40" height="40">
                </div>
                <div class="name ">
                    FACHES THUMESNIL FC                 </div>
                <div class="forfeit">
                                    </div>
                    </div>
        <div class="score_match">
             -             <div class="score_match_penalty">
                                            </div>
        </div>
        <div class="equipe2">
                            <div class="name ">
                    CAMPHIN PEVELE EC                 </div>
                <div class="logo">
                    <img src="https://www.fff.fr/common/bib_img/logo/525816.jpg" width="40" height="40">
                </div>
                <div class="forfeit">
                                    </div>
                    </div>
    </div>
</a>                            </div>
                                                    <div class="confrontation">
                                <a href="/competitions/?competition_id=343743&amp;poule=1&amp;match_id=19663925&amp;type=&amp;label=">
    <div class="date">
                    <span class="competition">U11 NIVEAU 1 FOOT EDUCATIF<br>POULE M</span>
            <br>
                samedi 02 d&#xE9;cembre 2017 - 14H00            </div>
    <div class="detail">
        <div class="equipe1">
                            <div class="logo">
                    <img src="https://www.fff.fr/common/bib_img/logo/525816.jpg" width="40" height="40">
                </div>
                <div class="name ">
                    CAMPHIN PEVELE EC 11                </div>
                <div class="forfeit">
                                    </div>
                    </div>
        <div class="score_match">
             -             <div class="score_match_penalty">
                                            </div>
        </div>
        <div class="equipe2">
                            <div class="name ">
                    ANST CHERENG 11                </div>
                <div class="logo">
                    <img src="https://www.fff.fr/common/bib_img/logo/500933.jpg" width="40" height="40">
                </div>
                <div class="forfeit">
                                    </div>
                    </div>
    </div>
</a>                            </div>
                                                    <div class="confrontation">
                                <a href="/competitions/?competition_id=343745&amp;poule=1&amp;match_id=19664585&amp;type=&amp;label=">
    <div class="date">
                    <span class="competition">U11 NIVEAU 3 FOOT EDUCATIF<br>POULE D</span>
            <br>
                samedi 02 d&#xE9;cembre 2017 - 14H00            </div>
    <div class="detail">
        <div class="equipe1">
                            <div class="logo">
                    <img src="https://www.fff.fr/common/bib_img/logo/525816.jpg" width="40" height="40">
                </div>
                <div class="name ">
                     CAMPHIN PEVELE EC 12                </div>
                <div class="forfeit">
                                    </div>
                    </div>
        <div class="score_match">
             -             <div class="score_match_penalty">
                                            </div>
        </div>
        <div class="equipe2">
                            <div class="name ">
                    TOURCOING EIC 11                </div>
                <div class="logo">
                    <img src="https://www.fff.fr/common/bib_img/logo/517631.jpg" width="40" height="40">
                </div>
                <div class="forfeit">
                                    </div>
                    </div>
    </div>
</a>                            </div>
                                                    <div class="confrontation">
                                <a href="/competitions/?competition_id=344394&amp;poule=1&amp;match_id=19800868&amp;type=&amp;label=">
    <div class="date">
                    <span class="competition">FEMININES A 11 D1<br>POULE B</span>
            <br>
                dimanche 03 d&#xE9;cembre 2017 - 15H00            </div>
    <div class="detail">
        <div class="equipe1">
                            <div class="logo">
                    <img src="https://www.fff.fr/common/bib_img/logo/525816.jpg" width="40" height="40">
                </div>
                <div class="name ">
                    CAMPHIN PEVELE EC                 </div>
                <div class="forfeit">
                                    </div>
                    </div>
        <div class="score_match">
             -             <div class="score_match_penalty">
                                            </div>
        </div>
        <div class="equipe2">
                            <div class="name ">
                    ARMENTIERE JA 2                </div>
                <div class="logo">
                    <img src="https://www.fff.fr/common/bib_img/logo/500305.jpg" width="40" height="40">
                </div>
                <div class="forfeit">
                                    </div>
                    </div>
    </div>
</a>                            </div>
                                            </div></div>